---
import Layout from "../layouts/Main.astro";
import Lastfm from "../components/Lastfm.svelte";
import Status from '../components/Status.astro';
---

<Layout heading="home" title="lucsitelucsitelucsitelucsitelucsite">
	<div class="head">
		<div class="main">
			<span>
				this is the place
			</span>
		</div>

		<div class="subsection">
			<div id="test">
				<Lastfm client:load />
			</div>
			<div id="status">
				<Status />
			</div>
		</div>

		<div class="buttons">
			<div>
				<a href="https://goth.zip"><img src="/buttons/gothzip.png" /></a>
				<img src="/buttons/lain.gif" />
				<a href="https://staydown.money"><img src="/buttons/Sprite-0004.png" /></a>
				<a href="https://tyju.cc"><img src="/buttons/tyju-btn.png" /></a>
			</div>
			<!-- <div class="dns">
				<img src="/buttons/marumofubiyori.png" />
				<img src="/buttons/vocaloid.gif" />
			</div> -->
			<div>
				<img src="/buttons/841.gif" />
				<img src="/buttons/ipod.webp" />
			</div>
		</div>
	</div>
</Layout>

<style>
	span {
		margin-top: .5rem;
		/* margin-left: .5rem; */
		overflow-wrap: break-word;
		/* border: 1px solid white; */
	}

	#test {
		flex-grow: 6;
		/* border: 1px solid green; */
		min-width: 60%
	}

	#status {
		display:flex;
		flex-grow: 3;
		padding: 0%;
		margin: 0%;
		justify-content: center;
		padding-left: 1em;
	}

	.buttons {
		padding-top: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.dns {
		display: none;
	}

	.buttons > * {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	.buttons > div > img {
		padding: 2px;
	}

	.head {
		justify-content: space-between;
	}

	.main {
		text-align: center;
		height: 40rem;
		max-height: fit-content;

		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.subsection {
		/* border: 1px solid white; */
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		max-height: 20%;
	}

	@media only screen and (max-width:600px) {
		.subsection {
			flex-direction: column;
			width: 100%;
		}

		.subsection > * {
			padding-bottom: 1rem;
		}

		#status {
			padding-left: 0%;
		}
	}
</style>
