---
import Layout from "../layouts/Main.astro";
---

<Layout heading="about" title="aboutaboutaboutaboutaboutaboutabout">
	<div class="head">
        <div class="centre">
            <div class="prompt">
                <div class="divider">
                    ︵‿︵‿୨♡୧‿︵‿︵
                </div>
                while i am striving to remove myself from microblogging, i do think there are some thoughts that i *do* want to get out without putting blog-level effort into publishing those pieces. as such, i've decided to create a feed-like zone for myself. i hope you enjoy
                <div class="divider">
                    ︵‿︵‿୨♡୧‿︵‿︵
                </div>
            </div>

            <!-- each entry goes below this, script -->
        </div>
	</div>
</Layout>

<style>
    .centre {
        display: flex;
        justify-content: center;
    }

    .divider {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .prompt {
        margin-top: .5rem;
        text-align: center;
        font-family: 'mononoki-italic';
        width: 60%;
        max-width: 60%;
        border: 1px dotted white;
        color: white;
        font-size: .8rem;
        padding: .5rem;
    }
</style>
