---
import Layout from "../layouts/Main.astro";
---

<Layout heading="live" title="livelivelivelivelivelivelivelivelivelivelivelivelivelivelive">
	<div class="head">
        <div class="centre">
            <div class="prompt">
                <div class="divider">
                    ︵‿︵‿୨♡୧‿︵‿︵
                </div>
                    while i have a recent distaste towards microblogging, i believe having a space to write short-form without going into the depths of a full blog post is useful. therefore, we have the "live feed", seen below.
                <div class="divider">
                    ︵‿︵‿୨♡୧‿︵‿︵
                </div>
            </div>

            <!-- each entry goes below this, script -->
        </div>
	</div>
</Layout>

<style>
    .centre {
        display: flex;
        justify-content: center;
    }

    .divider {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .prompt {
        margin-top: .5rem;
        text-align: center;
        font-family: 'mononoki-italic';
        width: 60%;
        max-width: 60%;
        border: 1px dotted white;
        color: white;
        font-size: .8rem;
        padding: .5rem;
    }
</style>
