---
import Layout from "../layouts/Main.astro";
import LiveEntry from "../components/LiveEntry.astro";

import posts from "../data/liveposting.json";
---

<Layout heading="live" title="livelivelivelivelivelivelivelivelivelivelivelivelivelivelive">
	<div class="head">
        <div class="centre">
            <div id="container">
                <div class="prompt">
                    <div class="divider">
                        ︵‿︵‿୨♡୧‿︵‿︵
                    </div>
                        i believe having a space to write short-form without 
                        going into the depths of a full blog post is useful, 
                        and i've had a dislike of twitter as of recent. 
                        therefore, we have the "live feed", seen below.
                    <div class="divider">
                        ︵‿︵‿୨♡୧‿︵‿︵
                    </div>
                </div>
            </div>
            <div>
                {
                    posts.map(({ body, times, poster }) => (
                        <LiveEntry body={body} times={times} poster={poster} />
                    ))
                }
            </div>
            <!-- each entry goes below this, script -->
        </div>
	</div>
</Layout>

<style>
    .centre {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .divider {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .prompt {
        margin-top: .5rem;
        text-align: center;
        font-family: 'mononoki-italic';
        width: 60%;
        max-width: 60%;
        border: 1px dotted white;
        color: white;
        font-size: .8rem;
        padding: .5rem;
    }

    #container {
        min-width: 100%;
        display: flex;
        justify-content: center;
    }
</style>
