---
import Layout from "../layouts/Main.astro";
---

<Layout heading="about" title="aboutaboutaboutaboutaboutaboutabout">
	<div class="head">
		<div>
			inspiration taken from <a href="https:/tyju.cc">tyjubi</a>'s site. this is media i'm presently interacting with.
		</div>
	</div>
</Layout>

<style></style>
