---
	import Layout from "../layouts/Main.astro";
---

<Layout heading="projects" title="projectsprojectsprojectsprojects">
	<div>
		projects
	</div>
</Layout>

<style>
	div {
		font-family: 'mononoki';
	}
</style>