<div id="statuscafe">
    <div id="statuscafe-username"></div><div id="statuscafe-content"></div>
</div>
<script src="https://status.cafe/current-status.js?name=luc" defer></script>

<style>
    #statuscafe {
        padding: 0.5em;
        background-color: #350808;
        max-width: 30vw;
        font-size: .9rem;
    }

    #statuscafe-username {
        margin-bottom: 0.5em;
    }
    
    #statuscafe-content {
        margin: 0 1em 0.5em 1em;
    }

    @media only screen and (max-width:600px) {
		#statuscafe {
            max-width: 90%;
        }
	}
</style>
