---
const { title, description, tags, link, bio, times } = Astro.props;
---

<div class="entry">
    <div id="titles">
        <div id="maintitles">
            <b><a href={link ? link : null}>{title}</a></b>
            <i>{description}</i>
        </div>
        <div id="biography">
            <i>{bio}</i>
        </div>
    </div>
    <div id="details">
        <span><i>{times? times : "unknown"}</i> &#x23F2;</span>
        <span><i>{tags? tags + " " : "no tags"}</i> #</span>
    </div>
</div>

<style>
    div#maintitles > i {
        font-size: .8rem;
        color: darkslategrey;
    }

    div#biography {
        color: grey;
        font-size: .6rem;
        max-width: 100%;
        overflow: hidden;
    }

    .entry {
        border-bottom: 1px dotted white;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #details {
        display: flex;
        flex-direction: column;

        margin: .2rem;
        font-size: .8rem;
        color: slategray;
        flex-grow: 3;
        text-align: right;
    }

    #titles {
        display: flex;
        flex-direction: column;
        margin: .2rem;
        max-width: 70%;
        flex-grow: 8;
    }
</style>